@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Montserrat&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(#939F5C, #313715);
}

.App {
  height: 500px;
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 1rem;
  background-color: #979B8D;
}

.title {
  color: black;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.list {
  overflow: scroll;
}

.note {
  padding: .75rem;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 15px;
  background-color: #DFEFCA;
}

.remove-btn {
  margin-left: auto;
  padding: 5px;
  background-color: #db222a; 
  font-size: .7em;
  color: white;
  text-transform: uppercase;
  border: 2px solid black;
  border-radius: 7px;
  cursor: pointer;
}

.remove-btn:hover{
  background-color: #bc4b51;
}

.remove-btn:active{
  background-color: #bc4b51;
  transform: translateY(2px);
}

.create-note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  margin-top: auto;
  padding-top: 10px;
}

textarea {
  height: 100%;
  width: 50%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 7px;
  line-height: 1.25;
  resize: none;
}

textarea:focus{
  outline: none;
}

#create-btn {
  height: 100%;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 10px;
  font-size: .75rem;
  color: white;
  text-transform: uppercase;
  background-color: #38b000;
  cursor: pointer;
}

#create-btn:hover {
  background-color: #2b9348;
}

#create-btn:active {
  background-color: #2b9348;
  transform: translateY(2px);
}